# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd


# ===== Environment Variables =====
.env

# ===== Logs =====
*.log

# ===== Jupyter =====
.ipynb_checkpoints/


# ===== OS =====
.DS_Store
Thumbs.db

# ===== IDE =====
.vscode/
.idea/

# ===== TEST FILE =====
test_analysis.py
test_sentiment_logic.py
test_time_series_logic.py

